# Author Information
NEXT_PUBLIC_AUTHOR_NAME=
NEXT_PUBLIC_AUTHOR_FIRST_NAME=
NEXT_PUBLIC_AUTHOR_LAST_NAME=
NEXT_PUBLIC_AUTHOR_TITLE=
NEXT_PUBLIC_AUTHOR_BIO=
NEXT_PUBLIC_AUTHOR_EMAIL=
NEXT_PUBLIC_AUTHOR_PHONE=
NEXT_PUBLIC_AUTHOR_LOCATION=
NEXT_PUBLIC_AUTHOR_GITHUB=
NEXT_PUBLIC_AUTHOR_LINKEDIN=
NEXT_PUBLIC_AUTHOR_X=
NEXT_PUBLIC_AUTHOR_LIVE_RESUME=

# Contact Form Integration (Google Sheets Apps Script Web App URL)
GOOGLE_SHEETS_SCRIPT_URL=https://docs.google.com/spreadsheets/d/1iR4QosSCWQiJ-1A9H22z41_dWlpigghxMXdzGiO9u1o/edit?gid=0#gid=0